
body{ 
    margin: 0px; 
    padding: 0px;
}

.banner-content{ 
    background-image: url(../img/banner/banner2.png);
    text-align: center;
    display: flex; 
    object-fit: cover;
    justify-content: space-around;
    align-items: center;
    height: 750px; 
 width: 1400px; } 
 .banner-text{ 
    display: flex; 
    flex-direction: column;
    width: 520px; 
    flex-shrink: 0px; 
    padding: 0px 4px 120px 80px;
    
 }
 .banner-btn{ 
    background-color: orangered;
    color: white; 
    width: 80px; 
    height: 30px;
    position: relative;
    bottom: 17px;
    margin-left: 420px;
    border: none;
text-align: right;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 } 
 .banner-btn:hover{ 
    color: #ece6e6;
    background-color: rgb(232, 17, 17);
 }
 .banner-heading{ 
    color: #151414;
font-family: Work Sans; 
position: relative;
top: 40px;
font-size: 55px; 
text-align: right;
font-style: normal;
font-weight: 600;
line-height: normal;
 }
 .banner-p{ 
    display: flex;
    position: relative;
    flex-direction: column; 
    margin-left: 90px;
    bottom: 15px;
    color:  #444343;
text-align: right;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 350;
line-height: 26px;

 } 